%% Options for eunit:test()
{erl_opts, [debug_info]}.
{deps,[
  {covertool,".*", {git, "https://github.com/idubrov/covertool.git","HEAD"}}
]}.
{edoc_opts,[{todo,true}]}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
{cover_enabled, true}.
{cover_print_enable, true}.
{plugins, [rebar_covertool]}.
{covertool_eunit, "eunit.coverage.xml"}. 
{covertool_ct, {"ct.coverdata", "ct.coverage.xml"}}. 
{covertool_prefix_len, 2}.


%%{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.            

